@font-face {
  font-family: 'chowfun'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('/fonts/chowfun.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "arial", 'Calibri';  
}
header{
  font-family: "chowfun", 'Calibri';
  background-image: url('https://ngtri23.github.io/images/photo_accueil_tempo.jpg');
}
h1{text-align: center;
}
#menu_principale{
  color: #FFFF00;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}

#photo-AIWTKF{
	max-width: 35%;
	height: auto;
	display: flex
}
