@font-face {
  font-family: 'chowfun'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('file:///C:/Users/ELEVE/Sac%20%C3%A0%20dos%205eme1/3%C2%B0/OneDrive/Sac%20%C3%A0%20dos/1er/NSI/projet%20web/code%20tempo/fonts/chowfun.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "arial", 'Calibri';  
}
header{
  font-family: "chowfun", 'Calibri';
  background-image: url('https://ngtri23.github.io/images/photo_accueil_tempo.jpg');
}
h1{text-align: center;
}
h2{font-size:150%
}
#menu_principale{
  color: #FFFF00;
  font-size: 3.5vw;
  text-align: center;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 3vw;
  background-color: rgba(0, 0, 0, 0.5);
}

a{
  text-decoration: none;
  color: white;
  font-size: 1.7vw;
  display: inline-block;
}

#photo-AIWTKF{
	max-width: 35vw;
	height: auto;
	float:right;
  	margin: 0% 1%;
}
#text_AIWTKF{
	text-align: justify;
	font-size: 100%;
}

#text_Wing_Tsun{
	text-align: justify;
	font-size: 100%;
}
