body{
  font-family: "Arial", 'Calibri';  
}
header{
  font-family: "Arial", 'Calibri';
  background-image: url('https://ngtri23.github.io/images/photo_accueil_tempo.jpg');
}
h1{text-align: center;}
#menu_principale{
  color: #FFFF00;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.menu a{
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

