@font-face {
  font-family: 'hHachimaki'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('/fonts/hHachimaki.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Light'; /* Le nom que tu veux utiliser dans ton CSS */
  src: url('/fonts/Roboto-Light.ttf') format('truetype'); /* Chemin vers le fichier */
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Roboto-Light", 'Calibri'; 
  margin-left: 10%;
  margin-right: 10%;
}
header{
  font-family: "hHachimaki", 'Calibri';
  background-image: url('https://ngtri23.github.io/images/photo_accueil_tempo.jpg');
  margin: -2% -13% 0 -13%;
}
h1{text-align: center;
}
h2{font-size:4vh
}
#menu_principale{
  color: #FFFF00;
  font-size: 4vw;
  text-align: center;
  text-decoration: none;
}
.first_letter{
  color: #ffaf04;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 4vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu a{
  font-family: "Roboto-Light", "hHachimaki";
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 2vw;
  display: inline;
}
.lien_essentiel{
  color:black;
  text-decoration: underline;
  font-style: italic;
  
}
.lien_essentiel:hover{
  color:#333;
  font-weight: bold;
}
#photo-AIWTKF{
	max-width: 25vw;
	height: auto;
	float:right;
  margin: 0% 1%;
}
#carte_google_map{
  max-width: 40vw;
	height: auto;
  margin-top: 5%;
}
#content{
  font-size: 2.5vh;
  max-width: 35vw;
	height: auto;
}
.slide{
  cursor: grab;
}
.photo-accueil{
  display: flex;
  overflow-x: scroll;         /* permet de scroller horizontalement */
  scroll-snap-type: x mandatory; /* snap = colle les images bien */
  width: 100vw;
  height: auto;
  scroll-behavior: smooth;
}
.photo-accueil img{
  max-width: 50vw;
	height: auto;
  justify-content: center;	
  object-fit: contain;
}

.text_page p {
	text-align: justify;
	font-size: 2.5vh;
  line-height: 1.8;
}
#block_text_règlement{
  font-size: 2vw;
  text-align: justify;
  margin-left: 13vw;
  margin-right: 13vw;
  line-height: 1.5;
}
#block_text_info_prat{
  text-align: justify;
	font-size: 2.5vh;
  line-height: 1.5;
}
