body{
  font-family: "Arial", 'Calibri';  
}
header{
  font-family: "Arial", 'Calibri';
  background-image: url('https://ngtri23.github.io/images/photo_accueil_tempo.jpg');
}
h1{text-align: center;}
#menu_principale{
  color: #FFFF00;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 10px;
  align-items: center;
}

a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
