 .testClass {
   display: grid;
   grid-template-columns: 1fr; 
   gap: 2vh;
   align-items: start;
   margin-bottom: 2vh;
 }
 
 #photo-AIWTKF {
   width: 100%;
   height: auto;
   object-fit: cover;
 }
 
 .testClass p {
   font-size: 2.5vh;
   text-align: justify;
   padding: 0 2vw;
 }
 

 @media (min-width: 500px) {
   .testClass {
     grid-template-columns: 1fr 1fr;
     gap: 2vw;
   }
 
   .testClass p {
     padding: 0;
   }
 }
